{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Sign Up</h1>
    <h6>Password Requirements:</h6>
    <ul>
        <li>Must have an upper case letter somewhere.</li>
        <li>Must have a lower case letter somewhere.</li>
        <li>Must have a number at the end.</li>
    </ul>

    <form method = "POST">
        {{ form.hidden_tag() }}
        {{ logUser}} {{ form.username() }} {{ userError }} <br>
        {{ logEmail }} {{ form.email() }} {{ emailError }} <br>
        {{ logPw  }}{{ form.password()}} {{ pwError }} 
        <ul id="error-list">
            {% for error in error_list%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        <p>Confirm Password: {{ form.confirmPw }} </p>
        {{ form.submit() }}
        {{ message }}
    </form>
    <a href="{{url_for('login')}}">Log in</a>
    {{message}}
</div>

{% endblock %}
