* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: .5px red solid; */
}

body {
    background-color: rgb(32, 32, 32);
}

header {
    background-color: #171717;
    padding: 2vh 0vw;
    width: 100%;
    position: fixed;
}

header h2 {
    display: inline-block;
    color: white;
    padding-left: 30px;
}
nav {
    float: right;
    margin-top: .5vh;
}

nav a{
    color: #9c9c9c;
    text-decoration: none;
    padding-right: 30px;
}

/* Main body */

main {
    /* border: .5px green solid; */
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.front {
    /* border: .5px blue solid; */
    margin-top: 10%;
    color: white;
    text-align: center;
    margin-bottom: 20%;
}

/* about section */

.about {
    margin: 0 20%;
    /* border: .5px purple solid; */
    color: white;
    padding-bottom: 15%;
}

.about p{
    /* border: .5px orange solid; */
    word-wrap: break-word;
    width: 500px;
    margin-top: 20%;
}
.about img{
    /* border: .5px yellow solid; */
    float: right;
    margin-top: -25%;
}

.about a{
    color: white;
}
/* projects/acheivement section */

.projects {
    margin: 0 20%;
    color: white;
    padding-bottom: 4%;
    /* border: .5px yellow solid; */
}

.projects a {
    color: white;
}

/* Experience section */
.experience {
    color: white;
    margin: 0 20%;

}

/* contact section */

.contact {
    margin: 0 20%;
    color: white;
    padding-bottom: 5%;
    text-align: center;
}

.contact a {
    color: white;
}

/* footer section */
footer {
    color: white;
    background-color: #171717;
    text-align: center;
    padding: 1% 0;

}

/* fill out form */
.fillout {
    color: white;
    height: 57vh;
    padding-bottom: 5vh;
}

/* resume page */
.resume {
    color: white;
    height: 74vh;
}